<!DOCTYPE html>
<html>
    <body>
        <div>
        <form action="ifscresult" method="GET">
            Enter IFSC code <input type="text" name="ifsc"><br>
            <input type="submit">
        </form>
    </div>
    <br>
    <br>
    <div>
        <form action="namecity" method="GET">
            Enter bank name <input type="text" name="name"><br>
            Enter bank city <input type="text" name="city"><br>
            Enter Limit <input type="text" name="limit" required><br>
            Enter Offset <input type="text" name="offset" required><br>
            <input type="submit">
        </form>
    </div>    
    </body>
</html>